@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    top: 0;
    background: rgb(2,0,36);
    background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 53%, rgba(0,0,129,1) 80%, rgba(0,110,133,1) 100%);
}

*{
    font-family: "Bebas Neue", sans-serif;
}

header{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100vw;
    height: 10vh;
    top: 0;
    font-size: 50px;
    position: absolute;

}


.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-top: 130px;
    background-color: black;
    color: white;
    width: 30vw;
    border-radius: 10px;
    height: 1vh;
}

#imagem1,#imagem2,#imagem3,#imagem4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    border: 3px solid;
    width: 30vw;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(30px);
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 57%, rgba(0,0,129,1) 77%, rgba(0,110,133,1) 100%);
    border-radius: 20px;
}

#nome1,#nome2,#nome3,#nome4{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 10vh;
    width: 25vw;
    font-size: 30px;
    color: white;
    background-color: rgb(7, 8, 63);
    border: 1px solid;
    border-radius: 10px;
    margin-bottom: 20px;

}
#preco1,#preco2,#preco3,#preco4{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 30px;
    font-size: 25px;
    color: white;
}

footer{
    display: flex;
    justify-content:center ;
    align-items: center;
    font-size: 30px;
    background-color: black;
    width: 100vw;
    height: 10vh;
    top: 0;
    position: static;
    margin-top: 100px;
    color: white;
}

button{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 6vh;
    width: 6vw;
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

button:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 1.1;
    transition: 0.5s;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}